html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.grid-container > div {
  padding: 1rem;
  background-color: lightgray;
}

.grid-container > div:nth-child(odd) {
  background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(9, 1fr);
  grid-template-columns: 1fr 4fr 2fr;

  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(
      400px,
      auto
    );
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;

  align-items: stretch;
  justify-items: stretch;
}

.spray-paint {
  grid-column-start: 1;
  grid-column-end: -1;
}

.digital {
  grid-column-start: 1;
  grid-column-end: -1;
}

.films {
  grid-column-start: 1;
  grid-column-end: -1;
}
