html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
}

.portfolio-links {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.portfolio-landing{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-buttonlink {
  color: aqua;
  background-color: blue;
  box-sizing: border-box;
  display: inline-block;
  justify-content: center;
  width: 1200px;
  height: 300px;
  padding: 60px;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  cursor: pointer;
}

.portfolio-buttonlink:hover {
  transform: scale(0.95);
  transition: all ease 0.4s;
}

.portfolio-buttonlink:active {
  opacity: 0.6;
}


.button__text,
.button__img{
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.button__text{
  position: relative;
  text-align: center;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.button__img{
  background-size: cover;
  height: 300px;
  width: 1500px;
  object-fit: fill;
  
}

.button-img1{
  align-items: center;
  transform: translateX(-16%) translateY(-35%) scale(85%);
}

.button-img2{
  align-items: center;
  transform: translateX(-20%) translateY(-10%);
}

.button-img3{
  align-items: center;
  transform: translateX(-20%) translateY(-15%);

}

.button-img4{
  align-items: center;
  transform: translateX(-20%) translateY(-10%) scale(95%);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
@media (min-width: 800px) {
  .portfolio-links{
    width: 300px;
  }
  .gallery-img1 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .gallery-img2 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .gallery-img3 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
